body {
  margin: 0 auto;
  text-align: center;
}

p {
  margin: inherit;
}

header {
  background-color: #404041;
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
  height: 80px;
  margin: 0;
  text-align: center;
}

.numberguesser {
  padding-top: 15px;
}

span#number {
  font-weight: 700;
  color: #ED458B
}

span#guesser {
  font-weight: 300;
  color: #E6E7E8
}

button#guess-btn:disabled, button#clear-btn:disabled, button#reset:disabled, button#submitRange:disabled{
  background-color: #D0D2D3;
  color: #FFFFFF;
}

#guess-btn, #clear-btn, #reset, #submitRange {
  background-color: #929497;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  height: 30px;
  margin-top: 10px;
  width: 120px;
}

button#guess-btn:hover:enabled, button#clear-btn:hover:enabled, button#reset:hover:enabled, button#submitRange:hover:enabled{
  background-color: #EB008B;
  color: #FFFFFF;
}

#reset {
  width: 240px;
}

#submitRange{
  width: 100px;
  height: 25px;
  font-size: 15px;
}
#min, #max {
  width: 50px;
  margin-top: 20px;
}

#guess {
  width: 240px;
  height: 17px;
}

#guess::-webkit-outer-spin-button,
#guess::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#min::-webkit-outer-spin-button,
#min::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#max::-webkit-outer-spin-button,
#max::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


#yourLast, #highLow, #out-range, #intro {
  color: #404041;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

#yourLast {
  padding-top: 10px;
}
#highLow {
  padding-top: 10px;
}
#lastGuess {
  color: #EB008B;
  font-family: 'Open Sans', sans-serif;
  font-size: 150px;
  font-weight: 300;
}

